[run]

branch = True

[report]

exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:

ignore_errors = True

include =
    */cms_form/*
    */cms_status_message/*

omit =
    # omit anything in cms_form_example/
    */cms_form_example/*

output = coverage.xml
